<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= provider.description %>
  </p>

  <p>
    <strong>Specialty:</strong>
    <%= provider.specialty %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= provider.area %>
  </p>

</div>
