<div id="<%= dom_id review %>">
  <p>
    <strong>Result:</strong>
    <%= review.result_id %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= review.plan_id %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= review.treatment_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= review.provider_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= review.description %>
  </p>

</div>
