<div id="<%= dom_id review %>">
  <p>
    <strong>Result:</strong>
    <div style="margin-left:3em;">
    <%= render review.result %>
    </div>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= review.plan.name %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= review.treatment.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user.email %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= review.provider.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= review.description %>
  </p>

</div>
