<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :area, style: "display: block" %>
    <%= form.text_area :area %>
  </div>

  <div>
    <%= form.label :company_id, style: "display: block" %>
    <%= form.select :company_id, options_for_select(Company.all.map{|c|[c.name, c.id]}, plan.company_id) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
