<div id="<%= dom_id plan %>">
  <p>
    <strong>Name:</strong>
    <%= plan.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= plan.area %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= plan.company.name %>
  </p>

</div>
