<!DOCTYPE html>
<html>
  <head>
    <title>Will they pay?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul class="nav">
      <li><%= link_to "Plans", plans_path %></li>
      <li><%= link_to "Leave a Review", review_path(:new) %></li>
    </ul>
    <%= yield %>
  </body>
</html>
